h1 { font-size: 70px;
    background: -webkit-linear-gradient(#278f7e, #315d48);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h3{
    font-style: italic;
}
body {
    background: radial-gradient(rgb(182, 226, 225), rgba(43, 85, 58, 0.519) 30%),
     url("stars\ background.png");
        background-repeat: repeat;
        background-blend-mode: overlay, opacity: 90%;
  }
.headshot {
    border-radius: 40%;
  }
.aboutparagraph{
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    font-size: 30px;
    gap: 100px;
}
.aboutparagraph img{
    height: 400px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}